{:deps
 {org.clojure/clojure         {:mvn/version "1.11.1"}
  io.github.humbleui/humbleui {:git/sha "472bb1e15275af7d32c4057c799f304ef9b6a6fe"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace              {:mvn/version "1.4.4"}
                 com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
   :jvm-opts    ["-ea" "-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}}}